.idea/
tweets/output/
output/
tweets/
aid_request_aid_2017_08_26_stream.txt.csv
aid_request_aid_2017_08_27_stream.txt.csv
aid_request_aid_2017_08_28_stream.txt.csv
aid_request_aid_2017_08_29_stream.txt.csv
aid_request_aid_2017_08_30_stream.txt.csv
